@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: auto;
    background-color: rgba(20, 21, 36, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;
    /* background-color: transparent; */
    /* background-color: rgb(255, 255, 255); */
}
.headerContainer_Socials{
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    color: white;
    cursor: pointer;
}
.logo_heading span{
    font-weight: 200;
}
.logo_heading{
    font-weight: 800;
}
.headerContainer_logo h1{
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.headerContainer_Socials small{
    font-size: 13px;
    margin-left: 5px;
    padding: 8px;
    border: 1px solid rgb(233, 219, 96);
    border-radius: 10px;
    animation: skeleton 0.5s ease infinite alternate;
    color: rgb(221, 183, 60);
}

@keyframes skeleton {
  to {
    opacity: 0.8;
  }
}


@media (max-width: 780px) {
    .headerContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        background-color: rgba(20, 21, 36, 0.9);
        /* background-color: rgb(255, 255, 255); */
    }
    .headerContainer_logo h1{
        color: white;
        font-size: 25px;
    }
    .headerContainer_Socials{
        display: flex;
        justify-content: space-evenly;
        width: 120px;
        color: white;
    }
}
@media (max-width: 480px) {
    .headerContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        background-color: rgba(20, 21, 36, 0.9);
        /* background-color: rgb(255, 255, 255); */
    }
    .headerContainer_logo h1{
        color: white;
        font-size: 20px;
    }
    .headerContainer_Socials{
        display: flex;
        justify-content: space-evenly;
        width: 100px;
        color: white;
    }
    .headerContainer_Socials small{
        font-size: 10px;
        margin-left: 8px;
        padding: 3.5px;
        border: 1px solid rgb(233, 219, 96);
        border-radius: 5px;
    }
}
